{% extends 'base.html.twig' %}

{% block body %}
    {{ include('components/navbar/_navbar.html.twig') }}

    <div class="container mt-4">
        <h2 class="mb-4">Clima de Ciudades</h2>
        <div class="row mb-4">
            {{ include('components/searchbar/_searchbar.html.twig') }}
        </div>
        {# Se llenará con JS a partir del localStorage #}
        <div id="cities-container" class="row"/>
    </div>
{% endblock %}
