{% extends 'base.html.twig' %}

{% block body %}
    {{ include('components/navbar/_navbar.html.twig') }}
    <div class="container mt-4">
        <div class="row justify-content-center mb-4">
            <h1 class=" text-center mb-4">Weather App</h1>
            {{ include('components/susbcription/susbcription.html.twig') }}
        </div>
    <div class="row mb-4">
        {{ include('components/searchbar/_searchbar.html.twig') }}
    </div>
    {# Se llenará con JS a partir del localStorage #}
    <div id="cities-container" class="row mb-4"></div>
    </div>

{% endblock %}
